/* 
container == 80% scale of window
main color in white mode is 
for links == # 707070
for h2 titals == #393939
for green color #069C54
titals for evry section 




*/

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
text-transform: capitalize;
}

.space {
height: 70px;
}

.container {
display: flex;
width: 70%;
justify-content: space-between;
margin: 0 auto;
height: 100%;
align-items: center;
}

.sections_space {
margin: 20px 0;
}

body {
background-color: white;
font-size: 16px;
}

ul {
list-style: none;
}

a {
color: #707070;
text-decoration: none;
font-weight: 500;
}
/* tital of section */

.item_tital {
font-size: 2.25rem;
color: #393939;
font-weight: 500;
}
/* button of sections */

.section_button {
background-color: #069C54;
text-align: center;
border: 0px;
border-radius: 10px;
width: 120px;
height: 50px;
font-size: 1rem;
padding: 10px;
transition: background .3s;
}

.section_button:hover {
background-color: #048654;
}

.section_button a {
color: white;
}
/* àààààààààààààààààààààààààààààààààààà */

#nav_bar {
height: 70px;
width: 100%;
position: fixed;
background-color: white;
transition: box-shadow 0.3s;
}

#nav_button {
    display: inline-block;
    position: absolute;
    top: 12.5px;
    right: 20px;
    cursor: pointer;
    display: none;
    }

#nav_button i {
display: inline-block;
transform: scale(1.5);
}
/* #nav_bar .container {
height: 70px;
width: 100%;
} */

#nav_bar ul li {
display: inline-block;
}

#nav_bar a {
padding: 10px;
cursor: pointer;
transition: color .3s;
}

#nav_bar a:hover,
.home_main_tital {
color: #069C54;
}

#dark_white {
cursor: pointer;
}
/* ########################################### */
/* Section Home */

#home_section {
/* height: 100vh; */
}

.home_content {}

.home_main_tital {
font-size: 4rem;
}

.home_image {}

.home_image img {
width: 100%;
height: 100%;
}

.home_iteme {
flex-grow: 1;
}

.home_iteme.home_content {
flex-shrink: 1;
}

.home_iteme.home_image {
flex-shrink: 2;
}

#home_section .item_tital {
margin: 20px 0;
}
/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 1100px) {
.container {
    width: 85%;
}
}
/* for small screan pc */

@media only screen and (max-width: 900px) {
.container {
    width: 90%;
}
.home_main_tital {
    font-size: 3rem;
}
.item_tital {
    font-size: 2rem;
}
/* for Tablet  */
@media only screen and (max-width: 700px) {
    
    .container {
        width: 95%;
        flex-direction: column;
        text-align: center;
    }
    .home_main_tital {
        font-size: 2.5rem;
    }
    .item_tital {
        font-size: 1.5rem;
    }
    .section_button {}
    .home_image {
        width: 50vh;
    }
    /* ########################## */
    /* nav bar */
    #nav_button{
        display: block;
    }
    #nav_bar {
        height: auto;

    }
    #nav_bar .container {
       width: 100%;
       height: 0px;
       background-color: orange;
       position: relative;
       transition: height 0.5s;
       overflow: hidden;

    }
    #nav_bar ul li{
        display: block;
    }
   
}











/* for mobile phone */
@media only screen and (max-width: 480px) {
    .container {
        width: 95%;
        flex-direction: column;
        text-align: center;
    }
    .home_main_tital {
        font-size: 2.5rem;
    }
    .item_tital {
        font-size: 1.5rem;
    }
    .section_button {
        font-size: 1rem;
    }
    .home_image {
        width: 40vh;
    }
}